/* * {
  background-color: rgb(1, 52, 68);
}
h2 {
  background-color: #012086;
}
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  max-width: 90%;
  margin: 40px auto;
  padding: 24px;
  background-color: #012086;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 0px 18px rgba(255, 255, 255, 3.08);
}
.todo-form {
  background-color: #012086;
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.todo-form input[type="text"],
.todo-form input[type="number"] {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
}

.todo-form button {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: #0be716;
  color: #000000;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #1dd8c8;
}

#todoPostParagraph,
#todoPutParagraph,
#todoGetParagraph,
#todoDeleteParagraph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: black;
  border: solid#1dd8c8;
  color: #e0e0e0;
}

/* color: #111827; */
/* 
@media (max-width: 640px) {
  body {
    color: rgb(1, 255, 242);
    margin: 20px;
    padding: 18px;
  }

  .todo-form {
    flex-direction: column;
  }

  .todo-form button {
    width: 100%;
  }
}  */
