body {
   max-width: 100%;
   background-color: plum;
   00px;
}
.get {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;

}
#todoGetInput {
    width: 500px;
    height: 30px;
}
#todoGetButton {
    background-color: green;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
#todoGetParagraph{
width: 300px;
    min-height: 30px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}
 

/* body>div>h2 {
    display: flex;
    flex-direction: column-reverse;
    text-align: ;
    background-color: black;
} */
.patch {
    display: flex;
     align-items: center;
    gap: 5px;
    background-color: #f0f0f0;
    border-radius: 20px;
}
.patch>h2 {
    display: flex;;
    text-align: center;
   
   
        
}
#todoPatchUserIdInputElement {
     width: 300px;
    height: 30px;
}
#todoPatchTitleInput{
    width: 400px;
    height: 30px;
}
#todoPatchButton {
    background-color: yellow;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
#todoPatchParagraph {

    width: 300px;
    min-height: 30px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}
.delete {
     display: flex;
     align-items: center;
    gap: 15px;
    background-color: #f0f0f0;
    border-radius: 20px;
}
#todoDeleteIdInput{
     width: 400px;
    height: 30px;
}
#todoDeleteButton{
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
#todoDeleteParagraph {

    width: 300px;
    min-height: 30px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}
